@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*  SURFACE COLORS FOR THE PAGE     */
    --surf-first-color:      #121212;
    --surf-second-color:     #282828;
    --surf-third-color:      #3f3f3f;
    --surf-fourth-color:     #575757;
    --surf-fifth-color:      #717171;
    --surf-sexth-color:      #8b8b8b;

    /*  PRIMARY PALETTE FOR THE PAGE    */
    --pal-first-color:      #f7f6f9;
    --pal-second-color:     #f6f4f8;
    --pal-third-color:      #f4f2f6;
    --pal-fourth-color:     #f2eff5;
    --pal-fifth-color:      #f0edf3;
    --pal-sexth-color:      #eeebf2;

    /*  SUCCES COLOR FOR THE PAGE       */
    --suc-first-color:      #9ae8ce;
    --suc-second-color:     #47d5a6;
    --suc-third-color:      #22946e;

    /*  WARNING COLOR FOR THE PAGE      */
    --war-first-color:      #ecd7b2;
    --war-second-color:     #d7ac61;
    --war-third-color:      #a87a2a;

    /*  DANGER COLOR FOR THE PAGE       */
    --dan-first-color:      #eb9e9e;
    --dan-second-color:     #d94a4a;
    --dan-third-color:      #9c2121;

    /*  INFO COLOR FOR THE PAGE         */
    --info-first-color:     #92b2e5;
    --info-second-color:    #4077d1;
    --info-third-color:     #21498a;

    font-family: "Poppins", sans-serif;
}

/*  ---------------------------------------------------------------     #
#   THIS PART SEPARATES THE MAIN BODY AND HTML FILES FROM THE OTHER     #
#   MODIFICATIONS, TO KEEP AN UNIQUE COLOR ALL ABOVE THE WEB PAGE.      #
#   ---------------------------------------------------------------    */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*This class is the main body of all the web page*/
    background-color: var(--surf-first-color);
    background-size: cover;
    background: linear-gradient(to left bottom, var(--surf-second-color), var(--surf-first-color));

    background-image: url('../assets/background_image.png');
    opacity: 100%;
}

/*  ----------------------------------------------------------------    #
#   THIS FIRST PART SEPARATES THE DIV CLASSES TO KEEP A BETTER ORDER    #
#   TO UNDERSTAND THE COMPOSE OF THE MAIN WEB PAGE TO ENTER/START A     #
#   LOBBY. NEXT PARTS WOULD BE SEPARATE SIMILAR TO THIS WAY.            #
#   ----------------------------------------------------------------   */
.index_header {
    /*This is the main header div class*/
    text-align: center;
    align-items: center;
}

.btn_lobby_group {
    /*This is the first two buttons class to start/enter lobby*/
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    /*Generate a column of buttoms*/
    display: flex;
    flex-direction: row;
}

.btn_lobby {
    cursor: pointer;
}

.lobby_footer {
    /*This is the foother class of all the web page*/
    position: fixed;
    top: 75%;
    right: 0;

    background: linear-gradient(to left bottom, var(--surf-first-color), var(--surf-second-color));
    padding: 2%;

    border-radius: 15% 0% 0% 0%;
    opacity: 90%;
}

/*  ----------------------------------------------------------------    #
#   THIS SECOND PART SEPARATES THE ELEMENT CLASSES TO KEEP A BETTER     #
#   ORDER TO UNDERSTAND THE COMPOSE OF THE MAIN WEB PAGE TO ENTER/      #
#   START A LOBBY. NEXT PARTS WOULD BE SEPARATE SIMILAR TO THIS WAY.    #
#   ----------------------------------------------------------------   */
.main_header {
    /*This is the main header of the first page, with the game title*/
    /*font color configuration*/
    color:  var(--pal-fourth-color);
    /*font configurations*/
    font-weight: 700;
    font-size: 400%;
    font-style: bolder;
    text-shadow: 10px 5px var(--surf-first-color);
    /*display configurations*/
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    /*Box shadow*/
}

.general_description {
    /*This is the introduction paragraph of my project*/
    /*font color configuration*/
    color:  var(--info-first-color);
    /*display configurations*/
    position: fixed;
    bottom: 5%;
    left:  3%;
}

.lobby_p_footer {
    color:  var(--pal-sexth-color);
    margin: 0%;
}

.contact_data {
    color:  var(--pal-third-color);
    margin-top: 0%;
}

.external_links {
    color: var(--suc-second-color);
}

.social-icon {
    align-items: center;
    color: var(--pal-sexth-color);
    opacity: 80%;
    margin-right: 2%;
}

.social_text {
    color: var(--pal-sexth-color);
    opacity: 80%;
    text-decoration: none;
    margin-right: 2%;
    display: flex;
    align-items: center;
}
/*  ----------------------------------------------------------------   */
