body {
    background-color: #1C1C1C;
}

.index_header {
    text-align: center;
    align-items: center;
}

.main_header {
    color: #F5E8D8;
}

.general_description {
    color: #FF4500;
}

.btn_lobby_group {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lobby_btn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.lobby_btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.lobby_btn:hover:after {
  transform: translate(0, 0);
}

.lobby_btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.lobby_btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .lobby_btn {
    padding: 0 40px;
  }
}

/*
    MAIN PALETS COLORS
        kind of:

        Black       #1C1C1C
        White       #F5E8D8
        Pink        #FF6F61
        Mustard     #DAA520
        Orange      #FF4500
*/
